:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: rgb(21, 21, 21);
  color: rgb(225, 224, 224);
}

a {
  text-decoration: none;
  color: rgb(225, 224, 224);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 82, 83);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
}

.container
{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem 0rem 2rem;
  font-size: clamp(.9rem, 2vw, 1rem);
}

.title
{
  padding: 0rem 2rem 0rem 2rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bolder;
  color: rgb(187, 167, 16);
}

.flex-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 2rem;
}

.btn-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.week, .today
{
  border: none;
  padding: .5rem 2rem;
  background-color: rgb(207, 206, 205);
  border-radius: 2rem;
  font-size: clamp(1rem, 2vw, 1.1rem);
  cursor: pointer;
  font-weight: bolder;
  border-top: 1px solid rgb(19, 19, 19);
  border-left: 1px solid rgb(19, 19, 19);
  border-bottom: 1px solid rgb(19, 19, 19);
  margin-left: -1.5rem;
  transition: all .3s ease-in;
  color: rgb(225, 224, 224);
}

.loading
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
}

.notFoundPageContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.titleNotFoundPage
{
  color: rgb(229, 138, 11);
  padding-bottom: 1rem;
  font-size: clamp(1.7rem, 3vw, 3rem);
  font-weight: bolder;
}

.descriptionNotFoundPage
{
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: bolder;
}

.loader {
  display: inline-flex;
  gap: 10px;
  padding-top: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#222 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  animation: l7 1.5s infinite alternate ease-in;
}
@keyframes l7 {
  0%,
  70% {background-size:100% 40%,8px 8px}
  85% {background-size:100% 120%,8px 8px}
  100% {background-size:100% 40%,8px 8px}
}

.linkBack
{
  padding-top: 1rem;
  font-weight: bolder;
}

@media screen and (max-width: 378px)
{
  .btn-container
  {
    padding-left: 1rem;
  }
}
