.posterImage
{
    object-fit: cover;
    object-position: top;
    border-radius: .3rem;
    transition: filter .3s ease-in;
}

.posterImage:hover
{
    filter:hue-rotate(90deg);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 1rem;
    padding-top: 3rem;
}

.voteContainer
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.9rem;
}
.vote
{
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: rgb(164, 162, 162);
}

.title
{
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: rgb(164, 162, 162);
    width: 12rem;
    padding-top: 0.6rem;
    line-height: 1.5;
}

@media screen and (max-width: 550px)
{

    .posterImage
    {
        width: 10rem;
        height: 15rem;
    }

    .paginationContainer
    {
        width: 10rem;
    }
}
  