.backdropsTitle,
.postersTitle
{
    padding-top: 2rem;
    text-align: center;
}

.translationsWrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

.left
{
    width: 20rem;
    overflow-y: auto;
    background: rgb(45, 44, 44);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.right
{
    width: 40rem;
}

.flexContainer
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 2rem;
}

.translationTitle
{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: bolder;
    padding: 1rem 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.noTranslation
{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 4rem;
}