.container
{
    padding: 2rem;
}

.title
{
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-weight: bolder;
}

.img
{
    object-fit: cover;
    object-position: top;
    border-radius: .6rem;
    margin-bottom: .9rem;
}

.flexContainer
{
    display: flex;
    align-items: flex-start;
    gap: .6rem;
    padding-top: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.titleMovie
{
    font-size: clamp(.9rem, 2vw, 1rem);
    font-weight: bolder;
    padding-bottom: 1rem;
}

.character
{
    color: rgb(178, 176, 176);
    padding-bottom: 1rem;
    margin-top: -.5rem;
}

@media screen and (max-width: 400px)
{
    .img
    {
        width: 8rem;
        height: 12rem;
    }
}